<h3>Spotify API</h3>
<form action="/artist-search/" method="GET">
    <label> Find Artist:
        <input type="text" name="artistName" placeholder="Find artist..." />
    </label>
    <button type="submit">Search</button>
</form>
<form action="/artist-search/" method="GET">
    <label> Find Track:
        <input type="text" name="trackName" placeholder="Find track..." />
    </label>
    <button type="submit">Search</button>
</form>